<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionstring>
	  Server=.\MSSQLSERVER1;Database=UserCenter;User ID=wang;Password=123
  </connectionstring>
  <!--<connectionstring>
    Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\MyWorkspaces\SSO.Web\SSO.Web\App_Data\UserCenter.mdf;Initial Catalog=UserCenter;Integrated Security=True
  </connectionstring>-->
  <!--创建table-->
  <create-tables assembly="SSO.Data" namespace="Create"/>
  <!--设置mapping-->
  <mappings assembly="SSO.Data" namespace="Mappings"/>

</configuration>