*{
  margin: 0;
  padding: 0;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial;
}
.icon {
  width: 1.8em; height: 1.8em;
  vertical-align: -0.15em;
  fill: #949494;
  overflow: hidden;
}
.iconblue{
  fill: #108ee9;
}