 .ant-row{
    margin-bottom: 12px  !important;
  }
.ant-form-item{
  padding-bottom: 0px !important;
}
  .ant-tag{
   margin-right:2px !important;
   padding:0 3px !important;
 }
 .ant-table{
   font-size: 13px !important;
 }