
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>导航-SSO数据中心</title>
    <link rel=icon href="~/logo.ico">
    <link href="~/Content/index/index.css" rel="stylesheet" />
</head>
<body>
    <div id=app></div>
    <script src="~/Content/index/chunk-vendors.js"></script>
    <script src="~/Content/index/index.js"></script>
</body>
</html>
