
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    sso logout!<br />
    visit: <br />
    @{ 
        for(var i = 0; i < ViewBag.ssoUrls.Count; i++)
        {
               <a href="@ViewBag.ssoUrls[i]">@ViewBag.ssoUrls[i]</a><br />
          
        }
    }
</body>
</html>
