
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=favicon.ico>
    <title>wwwroot</title>
    <link href="~/Content/css/chunk-vendors.b3d88f72.css" rel="stylesheet" />
    <link href="~/Content/css/index.72a5ac81.css" rel="stylesheet" />
</head>
<body>
    <div id=app></div>

    <script src="~/Content/scripts/chunk-vendors.d6ddf3df.js"></script>
    <script src="~/Content/scripts/index.4c838267.js"></script>
</body>
</html>