
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href="~/logo.ico">
    <title>登录-SSO数据中心</title>
    <link href="~/Content/login/index.b6f42557.css" rel="stylesheet" />
</head>
<body>
    <div id=app></div>
    <script src="~/Content/login/chunk-vendors.ba8da78d.js"></script>
    <script src="~/Content/login/index.c7a32e03.js"></script>
</body>
</html>