<p class="fw-bold mt-4">5. 通过 userId 或者 authorization 获取系统的其他信息</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        //获取基本地址ssoBaseUrl(AppSettings是用于获取配置节点的对象,.net framework和.netcore通用)
        string ssoBaseUrl = AppSettings.GetValue("ssoBaseUrl");
        //初始化SSOClientService类(请在Action中初始化)
        SSOClientService clientService = new SSOClientService(ssoBaseUrl, authorization);
    </code>
</pre>
<p class="fw-normal">1. 获取所有公司列表</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        var list = clientService.GetAllCompany();
    </code>
</pre>
<p class="fw-normal">2. 获取部门列表</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        //companyCode:公司列表中的公司code
        var list = clientService.GetAllDepartment(companyCode);
    </code>
</pre>
<p class="fw-normal">3. 获取用户列表</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        //companyCode:公司列表中的公司code
        //filter:搜索关键词(搜索UserName)
        //pageIndex:第几页
        //pageSize:每页几个
        var list = clientService.GetUserList(companyCode,filter,pageIndex,pageSize);
    </code>
</pre>
<p class="fw-normal">4. 获取角色列表</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        //filter:搜索关键词(搜索Name)
        //pageIndex:第几页
        //pageSize:每页几个
        var list = clientService.GetRoleList(filter,pageIndex,pageSize);
    </code>
</pre>
<p class="fw-normal">5. 获取用户详情</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        //userId:用户id
        var detail = clientService.GetUserDetail(userId);
    </code>
</pre>
<p class="fw-normal">6. 获取当前用户的权限项列表</p>
<pre class="line-numbers" data-language="C#">
<code class="language-cs">
        var permissions = clientService.GetUserPermissions();
    </code>
</pre>
