<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel=icon href="~/logo.ico">
    <link href="~/Content/libs/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/doc.css" rel="stylesheet" />
    <link href="~/Content/prism/prism.css" rel="stylesheet" />
    <style>
        img {
            width: 100%;
        }
        .mark, mark {
            outline: 2px solid red;
        }
    </style>
</head>
<body class="line-numbers">
    @Html.Partial("_Header")
    <div class="container d-flex" style="margin-top:70px;">
        <div class="flex-shrink-0 overflow-auto bg-white" style="width: 200px;height:650px;position:fixed">
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#sso-collapse" aria-expanded="false" id="sso-button">
                        SSO登录
                    </button>
                    <div class="collapse" id="sso-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/ssoindex" class="link-dark rounded" data-name="sso">概览</a></li>
                            <li><a href="/doc/index/aspnet" class="link-dark rounded" data-name="sso">配置(Asp.Net)</a></li>
                            <li><a href="/doc/index/netcore" class="link-dark rounded" data-name="sso">配置(Asp.Net Core)</a></li>
                            <li><a href="/doc/index/vue" class="link-dark rounded" data-name="sso">配置(Vue)</a></li>
                            <li><a href="/doc/index/react" class="link-dark rounded" data-name="sso">配置(React)</a></li>
                            <li><a href="/doc/index/gettoken" class="link-dark rounded" data-name="sso">获取访问凭证</a></li>
                            <li><a href="/doc/index/otherinfo" class="link-dark rounded" data-name="sso">其他方法</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#file-collapse" aria-expanded="false" id="file-button">
                        文件存储下载
                    </button>
                    <div class="collapse" id="file-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/fileindex" class="link-dark rounded" data-name="file">概览</a></li>
                            <li><a href="/doc/index/fileupload" class="link-dark rounded" data-name="file">文件上传</a></li>
                            <li><a href="/doc/index/filedownload" class="link-dark rounded" data-name="file">文件下载</a></li>
                            <li><a href="/doc/index/fileopr" class="link-dark rounded" data-name="file">文件操作</a></li>
                            <li><a href="/doc/index/filethumb" class="link-dark rounded" data-name="file">转换和缩略图</a></li>
                            <li><a href="/doc/index/fileplay" class="link-dark rounded" data-name="file">转换和视频播放</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#permission-collapse" aria-expanded="false">
                        权限控制
                    </button>
                    <div class="collapse" id="permission-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/permindex" class="link-dark rounded" data-name="permission">概览</a></li>
                            <li><a href="/doc/index/perminit" class="link-dark rounded" data-name="permission">权限初始化</a></li>
                            <li><a href="/doc/index/permopr" class="link-dark rounded" data-name="permission">权限控制</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#log-collapse" aria-expanded="false">
                        日志记录
                    </button>
                    <div class="collapse" id="log-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/logindex" class="link-dark rounded" data-name="log">概览</a></li>
                            <li><a href="/doc/index/logproj" class="link-dark rounded" data-name="log">项目日志</a></li>
                            <li><a href="/doc/index/logvisit" class="link-dark rounded" data-name="log">访问日志</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#orm-collapse" aria-expanded="false">
                        ORM操作SqlServer
                    </button>
                    <div class="collapse" id="orm-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/ormindex" class="link-dark rounded" data-name="orm">概览</a></li>
                            <li><a href="/doc/index/ormconfig" class="link-dark rounded" data-name="orm">配置文件</a></li>
                            <li><a href="/doc/index/ormquery" class="link-dark rounded" data-name="orm">数据查询</a></li>
                            <li><a href="/doc/index/orminsert" class="link-dark rounded" data-name="orm">数据新增</a></li>
                            <li><a href="/doc/index/ormupdate" class="link-dark rounded" data-name="orm">数据修改</a></li>
                            <li><a href="/doc/index/ormdel" class="link-dark rounded" data-name="orm">数据删除</a></li>
                            <li><a href="/doc/index/ormtrans" class="link-dark rounded" data-name="orm">事务处理</a></li>
                            <li><a href="/doc/index/ormdynamic" class="link-dark rounded" data-name="orm">动态sql</a></li>
                            <li><a href="/doc/index/multdatasource" class="link-dark rounded" data-name="orm">多种数据源</a></li>
                            <li><a href="/doc/index/ormother" class="link-dark rounded" data-name="orm">其他</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#service-collapse" aria-expanded="false">
                        服务和工具
                    </button>
                    <div class="collapse" id="service-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/parasValid" class="link-dark rounded" data-name="service">参数验证</a></li>
                            <li><a href="/doc/index/response" class="link-dark rounded" data-name="service">返回值</a></li>
                            <li><a href="/doc/index/esOpr" class="link-dark rounded" data-name="service">Elasticsearch操作</a></li>
                            <li><a href="/doc/index/esSearch" class="link-dark rounded" data-name="service">Elasticsearch搜索服务</a></li>
                            <li><a href="/doc/index/task" class="link-dark rounded" data-name="service">任务调度</a></li>
                            <li><a href="/doc/index/othernet" class="link-dark rounded" data-name="service">工具-SSO.Util.Client</a></li>
                            <li><a href="/doc/index/othernpm" class="link-dark rounded" data-name="service">工具-sso-util</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle rounded collapsed p-0" data-bs-toggle="collapse" data-bs-target="#extra-collapse" aria-expanded="false">
                        附录
                    </button>
                    <div class="collapse" id="extra-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/doc/index/projectIntro" class="link-dark rounded" data-name="extra">项目简介</a></li>
                            <li><a href="/doc/index/ssoPrinciple" class="link-dark rounded" data-name="extra">SSO实现原理</a></li>
                            <li><a href="/doc/index/filePrinciple" class="link-dark rounded" data-name="extra">文件存储实现原理</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <main role="main" class="bg-white" style="margin-left: 210px; width: calc(100% - 200px);min-height:700px ">
            @RenderBody()
        </main>
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height:100px">
        &copy; 2022 - Docs
    </div>
</body>
</html>
<script src="~/Content/libs/jquery.min.js"></script>
<script src="~/Content/libs/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/prism/prism.js"></script>
<script>
    $(function () {
        var path = '@Context.Request.Path';
        var pathlast = path.substr(path.lastIndexOf('/') + 1);
        $("a").each(function (index,item) {
            var url = item.href;
            var actionname = url.substr(url.lastIndexOf('/') + 1);

            var name = item.dataset.name;
            if (actionname == pathlast) {
                $(item).addClass("fw-bold");
                if (name) {
                    $("#" + name + "-collapse").addClass("show");
                    $("#" + name + "-button").attr("aria-expanded", true);
                }
            }
        });
        var htmlTemplate = $("#jwt_token").html();
        $("#jwt_token_text").on("input propertychange", function () {
            var token = $("#jwt_token_text").val();
            var datas = token.split('.');
            if (datas.length == 3) {
                var data0 = JSON.parse(base64DeCode(datas[0]));
                var data1 = JSON.parse(base64DeCode(datas[1]));
                var html = htmlTemplate;
                html = html.replace("HS256", data0.alg);
                html = html.replace("JWT", data0.typ);
                html = html.replace("CN01", data1.unique_name);
                html = html.replace("Wang01", data1.name);
                html = html.replace("zh-cn", data1.lang);
                html = html.replace("ssopc.com", data1.from);
                html = html.replace("1647246000", data1.nbf);
                html = html.replace("1647280800", data1.exp);
                html = html.replace("1647246000", data1.iat);
                html = html.replace("ssoapi.com", data1.iss);
                html = html.replace("ssopc.com", data1.aud);
                $("#jwt_token").html(html);
            }
           
        });


    });


    function base64DeCode(str) {
        return _decode(window.atob(str));
    }
    function _decode(utftext) {
        var string = "";
        var i = 0;
        var c = c1 = c2 = 0;
        while (i < utftext.length) {
            c = utftext.charCodeAt(i);
            if (c < 128) {
                string += String.fromCharCode(c);
                i++;
            }
            else if ((c > 191) && (c < 224)) {
                c2 = utftext.charCodeAt(i + 1);
                string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                i += 2;
            }
            else {
                c2 = utftext.charCodeAt(i + 1);
                c3 = utftext.charCodeAt(i + 2);
                string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                i += 3;
            }
        }
        return string;
    }
</script>