
@{
    ViewBag.Title = "文件存储概览";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">文件存储概览</h4>
<p class="fw-normal">请确保项目已经安装Nuget包(SSO.Util.Client)</p>
<p class="fw-bold">1. 简介</p>
<p class="fw-normal">本节点介绍的是: 文件统一存储的解决方案, 解决了不同项目中附件分散的问题, 上传的所有文件都存储在 http://file.ssoutil.cn 项目中</p>
<p class="fw-normal">http://file.ssoutil.cn 项目的背后使用了MongoDB的GridFS存储系统来存储文件,水平扩展非常方便</p>
<p class="fw-normal"></p>
<p class="fw-bold">2. 功能</p>
<p class="fw-normal">1) 界面管理: 具有统计、分类查询、图片缩略图转换、m3u8视频转换等功能</p>
<p class="fw-normal">2) 文件预览: 可以预览图片,视频,Office文件,pdf文件</p>
<p class="fw-normal">3) 文件唯一性校验: 校验文件的md5值,当用户多次上传相同的文件时,仅仅只存文件的基本信息,文件实体只存一份</p>
<p class="fw-normal">4) 权限控制: 可单独控制每个文件的访问权限</p>
<p class="fw-normal">5) 转换: 可控制图片和视频的转换规则(多种缩略图适应多设备,多种视频码率提高播放效率)</p>
<p class="fw-bold">3. 文件服务器节点配置</p>
<p class="fw-normal">在继续之前,需要添加以下的配置节点到配置文件</p>
<p class="fw-light">web.config(Asp.net)</p>
<pre data-language="Html">
<code class="language-markup">
        &lt;!--文件服务器的地址-->
        &lt;add key="fileServiceUrl" value="http://file.ssoutil.cn/" />
    </code>
</pre>
<p class="fw-light">appsettings.json(Asp.net Core)</p>
<pre data-language="js">
<code class="language-js">
        //文件服务器的地址
        "fileServiceUrl": "http://file.ssoutil.cn/"
    </code>
</pre>