
@{
    ViewBag.Title = "Orm-概览";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">Orm-概览</h4>
<p class="fw-normal">本节点介绍的是: 通过ORM快捷操作SQLServer数据库,可以实现sql语句和代码分离,返回对象自动映射,提高了sqlserver的读写效率</p>
<p class="fw-bold">1. 配置</p>
<p class="fw-normal">1) sbl.config </p>
<p class="fw-light">位置: 在项目的根目录创建</p>
<p class="fw-light">文件属性 Build Action: None</p>
<p class="fw-light">文件属性 Copy To Output Directory: Copy always 或者 Copy if newer</p>
