
@{
    ViewBag.Title = "配置单点登录-获取用户信息";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">其他方法</h4>
<p class="fw-normal">登录成功之后需要进行权限初始化,使用一下方法进行,详情请参考权限控制节点</p>
<p class="fw-bold">6. 替换权限项</p>
<p class="fw-normal">获取项目中的所有权限项,替换旧的权限项,以便配置权限,以下是一个文件管理系统替换权限项的案例:</p>
<pre class="line-numbers" data-language="C#">
    <code class="language-cs">
        //获取正在运行的程序集信息
        var assembly = Assembly.GetExecutingAssembly();
        //获取正在运行的所有Controllers的信息
        var controllers = assembly.GetTypes().Where(w => w.FullName.Contains("FileService.Api.Controllers"));
        //获取Controllers上中所有权限名称列表
        var res = SSOAuthorizeAttribute.GetPermissionDescription(controllers);
        SSOClientService clientService = new SSOClientService(ssoBaseUrl, authorization);
        //替换旧的权限名称
        var result = clientService.ReplacePermissions("fileapi", res);
    </code>
</pre>