
@{
    ViewBag.Title = "权限控制";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">权限控制</h4>
<p class="fw-normal">请确保项目已经配置登录(如何登录请参考 sso登录 节点)</p>
<p class="fw-bold">1. 查看权限分类</p>
<p class="fw-bold">2. 权限翻译</p>
<p class="fw-bold">3. 设置角色权限</p>
<p class="fw-bold">4. 设置用户权限</p>
