@using SSO.Util.Client
@{
    ViewBag.Title = "配置单点登录-React";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">配置单点登录(React)</h4>
<p class="fw-bold">1. 创建新项目</p>
<div class="row">
    <div class="col-4" style="background-color: #f5f5f5">
        <pre data-language="shell">
        <code class="language-shell">
                #安装命令行工具(已经安装的跳过)
                npm install -g create-react-app
                #使用 npx 命令行创建 react 项目
                npx create-react-app appreact
                #添加 npm 包引用(sso-util)
                npm install sso-util
                #运行项目
                npm start
            </code>
        </pre>

    </div>
    <div class="col">
        <img src="~/Content/images/react-1.png" style="width:100%" />
    </div>
</div>
<p class="fw-bold mt-4">2. 配置项目</p>
<p class="fw-normal">1) 在入口 index.js 中添加以下代码,则项目已经具有登录功能</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        import ssoutil from 'sso-util'

        const baseURL = "@AppSettings.GetApplicationUrl(Request)";
        const cookieName = "appreact.web.auth";

        ssoutil.authorize(baseURL, cookieName);
    </code>
</pre>
<p class="col pe-0">
    <img src="~/Content/images/react-2.png" />
</p>
<p class="fw-bold mt-4">3. 登录成功之后</p>
<p class="fw-normal">可以在window.token_jwt_data中获取用户基本信息,结果如下:</p>
<p class="fw-normal">可以在调试工具中查看cookie的键和值,键是appreact.web.auth,值是jwt token,过期时间和session同步</p>
<p class="fw-normal">在调用服务端接口时取出cookie的值(jwtoken)添加在请求的header中(Authorization: jwtoken)</p>
<div class="row">
    <div class="col-6" style="background-color: #f5f5f5">
        <pre class="line-numbers" data-language="js">
        <code class="language-js">
                //获取authorization(jwt token)
                var authorization = ssoutil.getAuthorization(cookieName);
                //获取用户基本信息(2种方式)
                var userData = ssoutil.getUserData(cookieName);
                var userData = window.token_jwt_data;
                //用户基本信息案例
                {
                    lang: "zh-cn"       //语言
                    name: "yang01"    //用户名称
                    aud: "101.39.104.181"
                    exp: 1644156209
                    from: "localhost:8080"  //来源
                    iat: 1644155009
                    iss: "api.ssoutil.cn"
                    nbf: 1644155009
                    unique_name: "cn01"   //用户id
                }
            </code>
        </pre>
    </div>
    <div class="col">
        <img src="~/Content/images/react-3.png" />
    </div>
</div>
<p class="fw-bold mt-4">4. SSO退出</p>
<p class="fw-normal">在当前项目中放入以下链接或者用js的方式跳到该链接</p>
<pre class="line-numbers" data-language="Html">
<code class="language-markup">
        &lt;!--{baseUrl}为当前项目的基本地址-->
        &lt;a href="@AppSettings.GetApplicationUrl(Request)sso/logout?returnUrl={baseUrl}">sso退出&lt;/a>
    </code>
</pre>
<p class="fw-bold mt-4">5. 通过 userId 或者 authorization 获取系统的其他信息</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        //初始化SSOClientService
        var clientService = new ssoutil.SSOClientService(baseURL, authorization);
    </code>
</pre>
<p class="fw-normal">1. 获取所有公司列表</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        ssoClientService.getAllCompany().then(res => {
            window.console.log(res);
        })
    </code>
</pre>
<p class="fw-normal">2. 获取部门列表</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        //companyCode:公司列表中的公司code
        ssoClientService.getAllDepartment(companyCode).then(res => {
            window.console.log(res);
        })
    </code>
</pre>
<p class="fw-normal">3. 获取用户列表</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        //companyCode:公司列表中的公司code
        //filter:搜索关键词(搜索UserName)
        //pageIndex:第几页
        //pageSize:每页几个
        ssoClientService.getUserList(companyCode,filter,pageIndex,pageSize).then(res => {
            window.console.log(res);
        })
    </code>
</pre>
<p class="fw-normal">4. 获取角色列表</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        //filter:搜索关键词(搜索Name)
        //pageIndex:第几页
        //pageSize:每页几个
        ssoClientService.getRoleList(filter,pageIndex,pageSize).then(res => {
            window.console.log(res);
        })
    </code>
</pre>
<p class="fw-normal">5. 获取用户详情</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        //userId:用户id
        ssoClientService.getUserDetail(userData.unique_name).then(res => {
            window.console.log(res);
        })
    </code>
</pre>
<p class="fw-normal">6. 获取当前用户的权限项列表</p>
<pre class="line-numbers" data-language="js">
<code class="language-js">
        ssoClientService.getUserPermissions().then(res => {
            window.console.log(res);
        })
    </code>
</pre>