@{
    ViewBag.Title = "服务和工具概览";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">概览</h4>
<p class="fw-normal">请确保项目已经安装Nuget包(SSO.Util.Client)</p>
<p class="fw-bold">1. 简介</p>
<p class="fw-normal">本节点介绍的是:在SSO.Util.Client工具包中包含的其他非常不错的功能,比如 Elasticsearch操作 搜索服务 任务调度等等</p>