
@{
    ViewBag.Title = "SSO概览";
    Layout = "~/Views/Doc/_LayoutPage.cshtml";
}
<h4 class="bd-title mb-3" id="content">SSO概览</h4>
<p class="fw-normal">请确保项目已经安装Nuget包(SSO.Util.Client)</p>
<p class="fw-bold">1. 简介</p>
<p class="fw-normal">本节点介绍的是:在不同的项目之间配置单点登录的方法,解决了不同项目之间重复登录问题</p>
<p class="fw-bold">2. 基于Json Web Token(JWT)的token认证</p>
<p class="fw-normal">
    JWT Token是目前最流行的跨域身份验证解决方案, Token分成3个部分:Header(包含算法),Payload(包含数据),Signature(包含签名,防止数据篡改)
</p>
<p class="fw-normal">在使用中token会保存以下信息:用户编号,用户名称,用户语言,token的颁发者,用户ip</p>
<p class="fw-normal">JWT Token会贯穿在后序的多个流程中,主要包含在header或者cookie中参与验证,如果使用header,请在header中添加 Authorization: jwt_token</p>
<p class="fw-normal">Asp.Net项目: 通过Nuget包(SSO.Util.Client) 来进行登录控制</p>
<p class="fw-normal">Asp.Net Core项目: 通过Nuget包(SSO.Util.Client) 来进行登录控制</p>
<p class="fw-normal">Asp.Net WebForm项目: 通过Nuget包(SSO.Util.Client) 来进行登录控制</p>
<p class="fw-normal">Vue项目: 通过npm包(sso-util) 来进行登录控制</p>
<p class="fw-normal">React项目: 通过npm包(sso-util) 来进行登录控制</p>
<p class="fw-bold">3. 配置</p>
<p class="fw-normal">ssoBaseUrl - SSO登录项目的基本地址</p>
<p class="fw-normal">ssoSecretKey - JWTToken 加密解密的秘钥</p>
<p class="fw-normal">ssoCookieKey - 登录成功之后生成的cookie的名称</p>
<p class="fw-normal">ssoCookieTime - 生成的cookie的有效时间</p>
<p class="fw-bold">4. cookie过期时间策略</p>
<p class="fw-normal">ssoCookieTime 有以下两种值策略</p>
<p class="fw-normal ms-3">session - cookie的有效时间和session同步,只到 浏览器关闭</p>
<p class="fw-normal ms-3">数值(25) - cookie的有效时间25分钟, 过期就会失效</p>
<p class="fw-normal">ssoCookieTime是滑动过期时间,如果设置成25,则从 最后一次访问 算起往后延长25分钟</p>
<p class="fw-normal">案例:</p>
<p class="fw-light ms-3">登录第一个项目跳到登录界面,输入用户名密码,登录成功</p>
<p class="fw-light ms-3">输入第二个项目地址自动登录</p>
<p class="fw-light ms-3">过一段时间,第二个项目因cookie过期,再次刷新会跳到登录界面</p>
<p class="fw-bold">5. token本身(JWT Token)过期时间策略</p>
<p class="fw-normal">系统生成的token过期时间默认是第二天的02:00, 过了这个时间token就会失效</p>
<p class="fw-normal">案例:</p>
<p class="fw-light ms-3">在23:59:59生成的token,token有效期为2个小时</p>
<p class="fw-light ms-3">在00:00:00生成的token,token有效期为24+2个小时 </p>
<p class="fw-light ms-3">在其他时间点生成的token,token有效期为 生成时间 距离 23:59:59的时间 再加2个小时</p>
<p class="fw-normal">token示例:</p>
<textarea class="form-control" style="width:100%;height:100px;padding:10px;outline:none" id="jwt_token_text">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IkNOMDEiLCJuYW1lIjoiV2FuZzAxIiwibGFuZyI6InpoLWNuIiwiZnJvbSI6InNzb3BjLmNvbSIsIm5iZiI6MTY0NzI0NjAwMCwiZXhwIjoxNjQ3MjgwODAwLCJpYXQiOjE2NDcyNDYwMDAsImlzcyI6InNzb2FwaS5jb20iLCJhdWQiOiJzc29wYy5jb20ifQ.z-v3oyGwIB8WEGAQgoNHkEipbXTkEr9bJw1iSSAm84M</textarea>
<p class="fw-normal mt-3">token解析:</p>
<pre class="line-numbers" data-language="js">
<code class="language-js" id="jwt_token">
            {
                "alg": "HS256", //算法名称
                "typ": "JWT"
            }
            {
                "unique_name": "CN01",  //用户编号
                "name": "Wang01",      //用户名称
                "lang": "zh-cn",        //用户语言
                "from": "ssopc.com",   //token来源(请求过程中携带token方的地址)
                "nbf": 1647246000,      //生效时间(在此之前不可用)
                "exp": 1647280800,      //过期时间 
                "iat": 1647246000,      //发布时间 
                "iss": "ssoapi.com", //发行者
                "aud": "ssopc.com"  //颁发给
            }
</code>
</pre>

